header , footer {
    background-color: #303f9f;
    margin: auto;
    width: 99%;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

header h2 , footer h2  , header p , footer p {
    padding: 0.25em;
}

footer p {
    font-size: 20px;
}

header h2 , footer h2 {
    font-size: 1.5em;
}

header input {
    border: 5px, solid, white;
}

header input {
    margin-top: 2.25em;
    margin-bottom: 2.25em;
    padding-right: 1em;
    width: 40%;
}

.mainSection {
    width: 98%;
    border: 5px solid lightgreen;
    border-radius: 1em;
    margin: auto;
    display: flex;
    align-content: stretch;
    justify-content: center;
}

#main {
    background-color: #cff0e5;
}

#right {
    background-color: #d0e6a9;
}

#main , #right {
    width: 50%;
    border-radius: 0.30em;
}

#selections {
    width: 80%;
}

#selections , #posts {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 7px;
    overflow: auto;
}

#selections div{
    margin: 5px;
}

#category , #topic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#mainSectionBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts {
    background-color: #5f9ea0;
    width: 85%;
}

.singlePost {
    background-color: #fafad2;
    margin: 3px;
}

.singlePost section {
    border: 1px dotted blue;
}

#listPosts {
    margin: 0.5rem;
}

.row {
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.title {
    color: white;
    border: 3px solid white;
    margin: 0.5rem;
}

#ranked {
    background-color: #dc143c;
}

#recent {
    background-color: #826305;
}

#stats {
    background-color: #556b2f;
}

.table thead {
    background-color: #0d47a1;
    color: white;
}

.col0 {
    background-color: #009688;
    color: white;
}

.col1 {
    background-color: #3d5e5b;
    color: white;
}

.table td {
    border: 1px dotted yellow;
}